$fond-acc: linear-gradient(#122C34, #224870);
$fond-competence: linear-gradient(#224870, #2A4494);
$fond-projet: linear-gradient(#2A4494, #8EA8C3);
$fond-experience: linear-gradient(#8EA8C3, #27A592);
$fond-contact: linear-gradient(#27A592, #aff7ed);


/************Contact************/
$couleur-contact: #6ADCCB;

/************projets************/
$couleur-projet: #90A4E0;


/************experiences************/
$gradient-entreprise: rgb(50, 49, 49);

$gradient-technologies: rgb(50, 49, 49);

$gradient-missions: rgb(50, 49, 49);


$gradient-experience: linear-gradient(2deg,
        #243d5676 0%,
        #243d5680 50%,
        #1e33486d 50%,
        #1e33486a 100%),
    linear-gradient(157deg,
        #18293A 0%,
        #18293A 30%,
        #121F2B 30%,
        #121F2B 100%), ;


/************langues************/
$fond-bouton-actif: rgba(255, 255, 255, 0.79);
$fond-bouton-inactif: rgba(255, 255, 255, 0.353);
