$fond-acc: linear-gradient(#122C34, #224870);
$fond-competence: linear-gradient(#224870, #2A4494);
$fond-projet: linear-gradient(#2A4494, #8EA8C3);
$fond-experience: linear-gradient(#8EA8C3, #27A592);
$fond-contact: #27A592;


/************Contact************/
$couleur-contact: #6ADCCB;

/************projets************/
$couleur-projet: #90A4E0;


/************experiences************/

// $gradient-entreprise: linear-gradient(7deg,
// #08c48f8d 0%,
//         #08c48f72 50%,
//         #07b0807d 50%,
//         #07b0807d 100%),

//     linear-gradient(120deg,
//         #046248 0%,
//         #046248 30%,
//         #034F39 30%,
//         #034F39 100%);

// $gradient-technologies: linear-gradient(157deg,
//         #00747a80 0%,
//         #00747a8e 30%,
//         #00616687 30%,
//         #00616668 100%),

//     linear-gradient(2deg,
//         #004E52 0%,
//         #004E52 50%,
//         #002729 50%,
//         #002729 100%);
// ;
// $gradient-missions: linear-gradient(2deg,
//         #243d5676 0%,
//         #243d5680 50%,
//         #1e33486d 50%,
//         #1e33486a 100%),
//     linear-gradient(157deg,
//     #18293A 0%,
//         #18293A 30%,
//         #121F2B 30%,
//         #121F2B 100%), ;
;$gradient-entreprise: rgb(50, 49, 49);

$gradient-technologies: rgb(50, 49, 49);

$gradient-missions: rgb(50, 49, 49);


$gradient-experience: linear-gradient(2deg,
        #243d5676 0%,
        #243d5680 50%,
        #1e33486d 50%,
        #1e33486a 100%),
    linear-gradient(157deg,
    #18293A 0%,
        #18293A 30%,
        #121F2B 30%,
        #121F2B 100%), ;
