$fond-acc: #122C34;
$fond-competence: #224870;
$fond-projet: #2A4494;
$fond-experience: #8EA8C3;
$fond-contact: #27A592;


/************Contact************/
$couleur-contact: #6ADCCB;

/************projets************/
$couleur-projet: #90A4E0;

