.page-accueil {
    //background-color: #a714c4;
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    .vague-fond {
        width: 500%;
        height: 80%;
        position: absolute;
        border-top-left-radius: 120%;
        border-top-right-radius: 120%;
        top: 20%;
        //left: 800px;
    }

    .premier {
        transform: traslateY(-50%);
        transform: traslateX(10px);
        //left: 300px;
        background-color: rgba(102, 0, 255, 0.477);
        animation: deplacement 10s linear reverse infinite;
    }

    .second {
        transform: traslateY(-50%);
        transform: traslateX(30px);
        //left: 50px;
        background-color: rgba(234, 0, 255, 0.477);
        animation: deplacement 20s linear reverse infinite;

    }

    .troisieme {
        transform: traslateY(-50%);
        transform: traslateX(50px);
        //left: 40px;
        background-color: rgba(0, 153, 255, 0.16);
        animation: deplacement 15s linear none infinite;

    }

    .panneau-acc{
        display: flex;
        justify-content: center;
        align-items: center;


        .contenu-panneau-acc{
            color: rgba(255, 255, 255, 0.76);
            z-index: 10;
            display: flex;
            flex-direction: column;
            width: 80%;
        }
    }
}

@keyframes deplacement {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(0);
    }

    75% {
        transform: translateX(25%);
    }

    100% {
        transform: translateX(1);
    }
}