@import "../style/Variable.scss/VariablesCouleurs.scss";


.page-experiences {
    background-color: $fond-experience;
    padding: 20px 0 100px 0;

    .text-exp {


        text-align: left;
        margin: 0 0 0 20px;

        .pres {
            line-height: 150%;
            width: 90%;
            color: #ffffff;
            font-size: x-large;
            font-weight: bolder;
            text-align: left;

            span {

                margin: 0 0 0 10px;
                color: rgba(255, 255, 255, 0.65);
            }
        }
    }

    .contenu-exp {
        padding: 50px 0 80px 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .experience {
            //box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
            //background-color: #fefefe15;
            width: 80%;
            text-align: left;
            margin: 30px;
            display: flex;
            flex-direction: row;
            min-height: 300px;
            font-size: larger;
            border-radius: 10px;
            padding: 10px;
            background: $gradient-experience;

            .cote-gauche {
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: space-evenly;
                margin-bottom: 30px;
                width: 40%;

                .haut {
                    padding: 5px;
                    // border: 5px solid black;
                    height: auto;
                    a{

                        padding-bottom: 15px;
                    }

                    .societe {

                        text-decoration: rgb(0, 255, 17) underline;

                        text-decoration-thickness: 4px;
                        //font-size: x-large;
                    }

                    .date {
                        margin: 15px 0;
                        font-size: smaller;
                    }
                }

                .bas {
                    padding: 5px;
                    // border: 5px solid black;
                    min-height: auto;
                    height: 100%;
                }
            }

            .cote-droit {
                padding: 10px 20px;
                // border: 5px solid black;
                width: 60%;

            }

            .missions {
                margin-bottom: 40px;

                .nom-mission {
                    margin-bottom: 5px;
                    text-decoration: rgb(255, 0, 230) underline;
                    text-decoration-thickness: 4px;
                    font-size: larger;

                }

                .resume {
                    // font-style: italic;
                    // font-size: 12px;
                    font-size: smaller;
                    margin-bottom: 10px;
                    color: #FBC2B5;
                }

                .taches-contenu {
                    margin: 20px 0px;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    font-size: smaller;

                    .taches {
                        margin-top: 5px;
                    }
                }
            }

            .technologies {

                .titre-techno {

                    margin-bottom: 15px;
                    text-decoration: rgb(0, 238, 255) underline;
                    text-decoration-thickness: 4px;
                    // background-color: #f3ec78;
                    // background-image: linear-gradient(#0ef716, #00ff73);
                    // background-size: 100%;
                    // -webkit-background-clip: text;
                    // -moz-background-clip: text;
                    // -webkit-text-fill-color: transparent;
                    // -moz-text-fill-color: transparent;
                    //font-size: larger;
                }

                .techno-utilise {
                    display: flex;
                    flex-wrap: wrap;
                    margin: 5px 0px;
                    justify-content: flex-start;

                    span {
                        margin: 3px;
                        text-align: center;
                        min-width: 50px;
                        background-color: #fbc2b53c;
                        padding: 5px;
                        border-radius: 20px;
                    }
                }
            }
        }
    }

}