@import "../style/Variable.scss/VariablesCouleurs.scss";


.projets {
   background-color: $fond-projet;
    padding-bottom: 100px;

    .transition1 {
        width: 100%;
        height: 150px;
        position: absolute
    }

    .pres {
        padding-top: 20px;
        line-height: 150%;
        width: 90%;
        color: rgba(254, 254, 254, 0.949);
        font-size: x-large;
        font-weight: bolder;
        margin: 0px 0 20px 20px;
        text-align: left;

        span {
            color: rgba(253, 253, 253, 0.65);
        }
    }

    .contenu-projet {
        width: 100%;
        overflow-x: scroll;
        margin: 60px 0px;

        .overflow-affiche {
            width: 2000px;

            display: flex;
            flex-wrap: nowrap;
            justify-content: space-evenly;

            .projet {
                width: 400px;
                height: 400px;
                display: flex;
                border-radius: 10px;

                align-items: flex-end;

                .description {

                    background-color: rgba(30, 31, 31, 0.669);
                    width: 100%;
                    height: 50%;
                    justify-content: flex-end;
                    display: flex;
                    flex-direction: column;
                    text-align: left;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;

                    span {
                        width: 80%;
                        margin: 12px;
                    }

                    .titre {
                        font-size: xx-large;
                    }

                    .projet-pp {
                        font-size: smaller;
                        opacity: 0.8;
                    }
                    .description-proj{


                    height: 40%;
                        align-self: flex-start;
                    }
        

                }
            }

            .Antidote {
                background-image: url("../img/fondprojet/fondantidote.png");
            }

            .Portfolio {
                background-image: url("../img/fondprojet/fondjunior.png")
            }

            .Classement {
                background-image: url("../img/fondprojet/fondbeerpong.png")
            }

            .Git {
                background-image: url("../img/fondprojet/fondgithub.png")
            }


        }
    }

}