.page-experiences {
    background-color: #526F7B;
    padding: 100px 0;

    .pres {
        line-height: 150%;
        width: 90%;
        color: rgba(0, 0, 0, 0.949);
        font-size: x-large;
        font-weight: bolder;
        margin: 0 0 20px 20px;
        text-align: left;

        span {
            color: rgba(8, 8, 8, 0.65);
        }
    }

    .contenu-exp {
        padding: 50px 0 80px 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .experience {
            background-image: linear-gradient(white, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
            width: 300px;
            text-align: left;
            border-radius: 10px;
            margin: 10px;
            padding: 10px;

            .entete {
                margin-bottom: 30px;

                .societe {
                    font-size: larger;
                }

                .date {
                    font-size: small;
                }
            }

            .missions {
                margin-bottom: 20px;

                .nom-mission {
                    color: red;

                }

                .resume {
                    font-style: italic;
                    font-size: smaller;
                    margin-bottom: 10px;
                }

                .taches-contenu {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    font-size: smaller;
                }
            }

            .technologies {
                .techno-utilise {
                    display: flex;
                    flex-wrap: wrap;

                    span {
                        margin: 3px;
                        background-color: rgba(255, 255, 255, 0.382);
                        padding: 5px;
                        border-radius: 10px;
                        border: 1px solid white;
                    }
                }
            }
        }
    }

}