.App {
  text-align: center;
  background-color: #122C34;
 /*background: url(./img/logo512.png);*/
 color: white;
}

button:hover{
  cursor: pointer;
}


button{
  color: black;
}


a{
  text-decoration: none;
  color: unset;
}

